<p id="notice"><%= notice %></p>





<h1>Listing Blog Posts</h1>



  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <div class="panel panel-default">
    
    <div class="panel-heading">
        <h1><%= blog_post.title %></h1>
        <h4><%= blog_post.author %></h4>
        <p><%= blog_post.blog_entry %></p>
        <%= link_to 'Show', blog_post, class: "btn" %>
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn" %>
        <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
      </div>
      </div>
    <% end %>




<%= link_to 'New Blog post', new_blog_post_path %>
